@import "../node_modules/bootstrap/scss/bootstrap.scss"

$spacer: 16px
$defalt-color: #1c1d1f
$primary-color: #5624d0
$secondary-color: #401b9c

// Custom

*:focus-visible
  outline: 4px solid #e59819 !important

input:focus
  outline: none !important

.mx-6
  margin-left: $spacer *.75
  margin-right: $spacer *.75

.my-6
  margin-top: $spacer *.75
  margin-bottom: $spacer *.75

.px-6
  padding-left: $spacer *.75
  padding-right: $spacer *.75

.pr-6
  padding-right: $spacer *.75

.alert
  border: none !important

.alert-primary
  color: #003640 !important
  background: #8ed1dc !important

.alert-warning
  color: #593d00 !important
  background: #ffe799 !important

.card-link, .icon-link
  display: flex
  align-items: center

.card-link
  color: $defalt-color !important

  &:hover
    color: $primary-color !important

.icon-link
  color: $defalt-color !important

  &:hover
    color: $secondary-color !important

.btn
  display: flex !important
  justify-content: center !important
  align-items: center !important
  border: 0 !important
  padding: 0 12px !important

.btn-primary
  border: none !important
  color: white !important
  background: $primary-color !important

  &:hover
    background: $secondary-color !important

.close
  margin: 8px !important

.btn-outline-primary
  color: $primary-color !important
  border: 1px solid $primary-color !important

  &:hover
    border-color: $secondary-color !important
    color: $secondary-color !important
    background: none !important

.btn-outline-dark
  border: 1px solid black !important

  &:hover
    color: black !important
    background: none !important

.form-control
  height: 40px !important

// Bootstrap

header
  @extend .container-fluid

header, .logo, .categories-link
  @extend .d-flex

.smart-bar
  @extend .d-lg-flex

.smart-bar
  @extend .flex-column

.logo, .smart-bar
  @extend .justify-content-center

.categories-link
  @extend .align-self-stretch

header, .smart-bar
  @extend .align-items-center

header
  @extend .px-3

.smart-bar
  @extend .py-3

.smart-bar
  @extend .pl-4

header
  @extend .shadow-sm

.menu-opener
  @extend .btn

.smart-bar-container
  @extend .alert-dismissible, .m-0, .p-0

// New

.btn-square
  width: 40px 
  height: 40px
  padding: 0 10px !important
  font-size: 25px
