$spacer: 16px
$defalt-color: #3c3b37
$primary-color: #0f7c90
$secondary-color: #094c59

.mx-6
  margin-left: $spacer *.75
  margin-right: $spacer *.75

.my-6
  margin-top: $spacer *.75
  margin-bottom: $spacer *.75

.px-6
  padding-left: $spacer *.75
  padding-right: $spacer *.75

.pr-6
  padding-right: $spacer *.75

.alert
  border: none !important

.card-link, .icon-link
  display: flex
  align-items: center

.card-link
  color: $defalt-color !important

  &:hover
    color: $primary-color !important

.icon-link
  color: $defalt-color !important

  &:hover
    color: $secondary-color !important

.btn
  display: flex !important
  justify-content: center !important
  align-items: center !important
  border: 0 !important
  padding: 0 12px !important

.btn-primary
  border: none !important
  color: white !important
  background: $primary-color !important

  &:hover
    background: $secondary-color !important

.btn-outline-primary
  display: flex !important
  justify-content: center !important
  align-items: center !important
  color: $primary-color !important
  border: 1px solid $primary-color !important

  &:hover
    border-color: $secondary-color !important
    color: $secondary-color !important
    background: none !important

.form-control
  height: 40px !important