$spacer: 12px
$defalt-color: #3c3b37
$primary-color: #0f7c90
$secondary-color: #094c59

header
  height: 72px

  .menu-opener
    font-size: 25px

  .search-btn
    display: none !important
    font-size: 15px

  .menu-opener, .search-btn, .icon-link
    width: 48px
    height: 48px

  .icon-link
    font-size: 20px

  & *
    box-shadow: none

  input, span
    font-size: 14px

  .search-bar
    height: 48px

  .header-login, .header-signup
    width: 100px
    height: 40px

@media (max-width: 800px)
  header
    height: 56px
    padding: 4px !important

    .menu-opener
      display: flex !important
      margin-right: 48px

    .logo
      width: 100%

      a
        padding: 0

        img
          width: 96px
          height: 28px

    .icon-link
      margin: 0

    .categories-link, .search-bar, .header-login, .header-signup
      display: none !important
      margin: 0 !important

@media (max-width: 1080px)
  .business-link
    display: none !important

@media (max-width: 920px)
  .teach-link
    display: none !important
