$spacer: 12px
$defalt-color: #1c1d1f
$primary-color: #5624d0
$secondary-color: #094c59

header
  height: 72px

  & *
    box-shadow: none

  .menu-opener
    font-size: 25px

  .search-btn
    display: none !important
    font-size: 15px

  .menu-opener, .search-btn, .icon-link, .search-bar-btn
    width: 48px

  .menu-opener, .search-btn, .icon-link, .search-bar-btn, .search-bar
    height: 48px

  .icon-link, .header-lang
    font-size: 20px

  input, span
    font-size: 14px

  .header-login, .header-signup
    height: 40px
    width: 100px

  .search-bar-btn
    color: #212529

@media (max-width: 800px)
  header
    height: 56px
    padding: 4px !important

    .menu-opener
      display: flex !important
      margin-right: 48px

    .logo
      width: 100%

      a
        padding: 0

        img
          width: 96px
          height: 28px

    .icon-link
      margin: 0

    .search-btn
      display: flex !important

    .categories-link, .search-bar, .header-login, .header-signup, .header-lang
      display: none !important
      margin: 0 !important

@media (max-width: 1080px)
  .business-link
    display: none !important

@media (max-width: 920px)
  .teach-link
    display: none !important
