.smart-bar-container
  background: #ffe799
  color: #593d00

  .smart-bar
    width: 100%
    padding: 16px 0 16px 24px

    .smart-bar-title, .smart-bar-timer
      font-weight: bold

  .btn-close
    width: 3rem
    height: 3rem

    &:focus
      outline: 4px solid #f0bd4f
