<aside *ngIf="h > -2 && m > -2 && s > -2" class="alert alert-dismissible fade show container-fluid d-flex justify-content-start smart-bar-container" role="alert" [ngStyle]="{ 'background': expired ? '#8ed1dc' : '#ffe799', 'color': expired ? '#003640' : '#593d00' }">
  <div class="d-lg-flex flex-column justify-content-center align-items-center smart-bar">
    <span class="smart-bar-copy">
      <span class="smart-bar-title">
        {{title}}
      </span>
      <span class="smart-bar-subtitle">
        | {{subtitle}}&nbsp;
      </span>
    </span>
    <span *ngIf="!expired" class="smart-bar-timer">
      Ends in
      <span>{{h}}h&nbsp;{{m}}m&nbsp;{{s}}s.</span>
    </span>
  </div>
  <button type="button" class="btn close d-flex justify-content-center align-items-center" data-dismiss="alert">
    <i class="bi bi-x"></i>
  </button>
</aside>