.smart-bar-container

  .smart-bar
    width: 100%
    padding-right: 56px

    .smart-bar-title, .smart-bar-timer
      font-weight: 700

    .smart-bar-subtitle
      font-weight: 400

    .smart-bar-timer
      font-size: 19px

@media (min-width: 992px)
  .smart-bar
    height: 76px
