<aside *ngIf="h > -2 && m > -2 && s > -2" class="alert smart-bar-container" role="alert" [ngClass]="{'alert-warning': !expired, 'alert-primary': expired}">
  <div class="smart-bar">
    <span class="smart-bar-copy">
      <span class="smart-bar-title">
        {{title}}
      </span>
      <span class="smart-bar-subtitle">
        | {{subtitle}}&nbsp;
      </span>
    </span>
    <span *ngIf="!expired" class="smart-bar-timer">
      Ends in
      <span>{{h}}h&nbsp;{{m}}m&nbsp;{{s}}s.</span>
    </span>
  </div>
  <button type="button" class="btn btn-square close" data-dismiss="alert">
    <i class="bi bi-x"></i>
  </button>
</aside>
